[Desktop Entry]
Type=Application
Exec=/home/vireshk/scripts/bootup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=bootupcmd
Name=bootupcmd
Comment[en_IN]=
Comment=
