[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome-stable
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=chrome
Name=chrome
Comment[en_IN]=
Comment=
