[Desktop Entry]
Type=Application
Exec=/usr/bin/skype
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=skype
Name=skype
Comment[en_IN]=
Comment=
