[Desktop Entry]
Type=Application
Exec=/usr/bin/vlc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=vlc
Name=vlc
Comment[en_IN]=
Comment=
