[Desktop Entry]
Type=Application
Exec=/usr/bin/hexchat
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=xchat
Name=xchat
Comment[en_IN]=
Comment=
